STAR5_Whole.h5m filter=lfs diff=lfs merge=lfs -text
output.h5m filter=lfs diff=lfs merge=lfs -text
Breeder_Outer_Only.h5m filter=lfs diff=lfs merge=lfs -text
tallies.out filter=lfs diff=lfs merge=lfs -text
_scaled.h5m filter=lfs diff=lfs merge=lfs -text
Breeder_scaled.h5m filter=lfs diff=lfs merge=lfs -text
tallies.out filter=lfs diff=lfs merge=lfs -text
config1_scaled.h5m filter=lfs diff=lfs merge=lfs -text
config2_scaled.h5m filter=lfs diff=lfs merge=lfs -text
config3_scaled.h5m filter=lfs diff=lfs merge=lfs -text
config4_scaled.h5m filter=lfs diff=lfs merge=lfs -text
config5_scaled.h5m filter=lfs diff=lfs merge=lfs -text